.alert, .td, .tr {
    text-align: center;
    font-weight: bolder;
}

.card {
    border: 3px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
}

.enunciado {
  background-color: rgb(167, 167, 168);
  text-align: center;
  font-weight: bolder;
}