<div class="alert alert-primary" role="alert">
    Operaciones para todos
</div>

<div class="container">
    <div class="row opciones d-flex justify-content-around">
        <button type="button" class="btn btn-primary" (click)="jugar()">Jugar</button>
        <button type="button" class="btn btn-secondary" (click)="instrucciones()">Instrucciones</button>
        <!-- <button type="button" class="btn btn-success">Niveles</button>
        <button type="button" class="btn btn-danger">Danger</button>
        <button type="button" class="btn btn-warning">Warning</button>
        <button type="button" class="btn btn-info">Info</button>
        <button type="button" class="btn btn-light">Light</button>
        <button type="button" class="btn btn-dark">Dark</button> -->
    </div>
</div>
<br>

<div class="container" *ngIf="parteInicio">
    <div class="row inicio d-flex justify-content-center">
        <img src="../assets/Bienvenidos.png" class="card-img-top">
    </div>
</div>

<div class="container" *ngIf="parteJugar">
    <div class="row">
        <div class="col-12">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Operación</th>
                        <th scope="col">Número 1</th>
                        <th scope="col">Número 2</th>
                        <th scope="col">Respuesta</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col">Resultado</th>
                    </tr>
                </thead>
                <tbody *ngFor="let numero of numeros; index as i">
                    <tr>
                        <th scope="row">{{operaciones[i]}}</th>
                        <td>{{numeros[i][0]}}</td>
                        <td>{{numeros[i][1]}}</td>
                        <td>{{numeros[i][2]}}</td>
                        <td><button *ngIf="seleccionado[i]" type="button" class="btn btn-success" (click)="hacerOperacionVerdadero(operaciones[i], i)" disabled>Verdadero</button>
                            <button *ngIf="!seleccionado[i]" type="button" class="btn btn-success" (click)="hacerOperacionVerdadero(operaciones[i], i)">Verdadero</button></td>
                        <td><button *ngIf="seleccionado[i]" type="button" class="btn btn-danger" (click)="hacerOperacionFalso(operaciones[i], i)" disabled>Falso</button>
                            <button *ngIf="!seleccionado[i]" type="button" class="btn btn-danger" (click)="hacerOperacionFalso(operaciones[i], i)">Falso</button></td>
                        <td>
                            <svg *ngIf="resultados[i]" class="bi bi-emoji-laughing" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                            <path fill-rule="evenodd" d="M12.331 9.5a1 1 0 0 1 0 1A4.998 4.998 0 0 1 8 13a4.998 4.998 0 0 1-4.33-2.5A1 1 0 0 1 4.535 9h6.93a1 1 0 0 1 .866.5z"/>
                            <path d="M7 6.5c0 .828-.448 0-1 0s-1 .828-1 0S5.448 5 6 5s1 .672 1 1.5zm4 0c0 .828-.448 0-1 0s-1 .828-1 0S9.448 5 10 5s1 .672 1 1.5z"/>
                          </svg>

                            <svg *ngIf="resultados[i] == false" class="bi bi-emoji-frown" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                            <path fill-rule="evenodd" d="M4.285 12.433a.5.5 0 0 0 .683-.183A3.498 3.498 0 0 1 8 10.5c1.295 0 2.426.703 3.032 1.75a.5.5 0 0 0 .866-.5A4.498 4.498 0 0 0 8 9.5a4.5 4.5 0 0 0-3.898 2.25.5.5 0 0 0 .183.683z"/>
                            <path d="M7 6.5C7 7.328 6.552 8 6 8s-1-.672-1-1.5S5.448 5 6 5s1 .672 1 1.5zm4 0c0 .828-.448 1.5-1 1.5s-1-.672-1-1.5S9.448 5 10 5s1 .672 1 1.5z"/>
                          </svg>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row ">
        <div class="col-12 ">
            <div class="card text-center">
                <div class="card-header">
                    Resultado
                </div>
                <div class="card-body">
                    <h5 class="card-title">Resultados Acertados</h5>
                    <p class="card-text">{{acertados}}/{{operaciones.length}}</p>
                    <a href="#" class="btn btn-primary" (click)="reiniciar()">Reintentar</a>
                </div>
                <div class="card-footer text-muted">
                    Buena Suerte
                </div>
            </div>
        </div>
    </div>
</div>
<br>

<div class="container" *ngIf="parteInstrucciones">
    <div class="row instrucciones d-flex justify-content-around">
        <div class="card" style="width: 18rem;">
            <img src="../assets/Operaciones.jpg" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">Instrucciones</h5>
                <p class="card-text">1) Selecciona el botón Jugar.
                    <br> 2) Escoge el nivel.
                    <br> 3) Aparecerá una tabla con las operaciones a realizar.
                    <br> 4) Al lado aparecen dos botones: Verdadero y Falso. Selecciona una de las dos de acuerdo al resultado que aparece.
                    <br> 5) Siguiente se muestra una cara feliz o triste de acuerdo al botón elegido.
                    <br> 6) Debajo de la tabla aparece el total de respuestas acertadas.
                    <br> 7) Pues reiniciar el juego si lo deseas con el botón Reiniciar.
                </p>
                <a class="btn btn-primary">Buena Suerte</a>
            </div>
        </div>
    </div>
</div>
<router-outlet></router-outlet>